body {
	background: #DFDDD7;
	font-family: Georgia, serif;
	color: #2d2d2d;
}

p {
	font-family: Verdana;
}

#page {
	width: 960px;
	margin: 32px auto;
}

#header, nav {
	padding: 0 10px;
}

#header {
	border-bottom: 3px double #DB008B;
	margin-bottom: 48px;
}

#header hgroup {
	text-align: center;
	position: relative;
	padding-bottom: 32px;
}

#header h1 {
	font-family: Georgia, serif;
	font-style:  italic;
	font-size: 4.5em; /* 72 / 16 */
	font-weight: normal;
	text-shadow: 0 1px 0 #F8F7F6;
	color: #B2B1AD;
}

#header h1 span {
	font-family: Baskerville, serif;
	font-style: italic;
	color: #DB008B;
}

#header .subtitle_wrapper {
	position: absolute;
	bottom: -12px;
	left: 0;
	width: 940px;
	display: block;
}

#header h2 {
	color: #DB008B;
	font-size: 1.875em; /* 30 / 16 */
	font-family: Georgia, serif;
	padding: 0 20px;
	background: #DFDDD7;
	display: inline;
	font-weight: 200;
}

nav {
	height: 32px;
	margin-bottom: 48px;
}

nav ul {
	width: 940px;
	text-align: center;
	line-height: 36px;
	font-size: 1.5em; /* 24 / 16 */
}

nav li {
	display: inline-block;
	width: 225px;
}

nav li a {
	text-decoration: none;
	padding: 6px 30px;
	background: #D3D1CC;
	color: #2C2C2C;
	border-radius: 10px;
	box-shadow: 0 1px 0 #F8F7F6;
}

nav li a:hover {
	background-color: #c4c2bc;
}

#main_content {
	width: 640px;
	float: left;
}

#main_content article {
	width: 600px;
	padding: 0 20px 36px 20px;
	margin-bottom: 36px;
	border-bottom: 3px double #DB008B;
}

article a {
	color: #2d2d2d;
}

article header h1 {
	color: #da008a;
	font-family: Georgia, serif;
	font-size: 1.625em; /* 26 / 16 */
	margin-bottom: 16px;
	font-weight: normal;
	font-style: italic;
}

article header {
	margin-bottom: 16px;
}

article p {
	line-height: 18px;
}

article figure {
	float: left;
	width: 213px;
	margin-right: 13px;
	margin-bottom: 6px;
}

article figure img {
	display: block;
	width: 213px;
	background: #333;
}

article figure figcaption {
	width: 213px;
	margin-top: 6px;
	color: #da008a;
}

article footer p {
	margin-top: 16px;
	color: #838383;
	font-size: .875em; /* 14 / 16 */
	line-height: 18px;
}

article footer a {
	color: #838383;
}

article footer time {
	clear: both;
}

aside {
	width: 290px;
	padding: 0 15px;
	float: right;
}

aside h1 {
	color: #da008a;
	font-family: Georgia, serif;
	font-size: 1.625em; /* 26 / 16 */
	margin-bottom: 16px;
	font-weight: normal;
	font-style: italic;
}

aside section {
	margin-bottom: 32px;
}

aside section h1 {
	font-size: 1.125em; /* 18 / 16 */
	font-family: Verdana;
	color: #2d2d2d;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 20px;
	margin-top: 8px;
}

aside section p {
	color: #838383;
}

aside ul {
	list-style: none;
}

aside {
	line-height: 18px;
}

aside .last_tweets li {
	margin-bottom: 20px;
	font-size: .6875em; /* 11 / 16 */
}

aside .last_tweets img {
	width: 30px;
	border: 1px solid #2d2d2d;
	background: #838383;
}

aside .last_tweets a {
	color: #DB008B;
	text-decoration: none;
	display: block;
	clear: both;
}

aside .playlist ul li {
	width: 86px;
	margin-right: 16px;
	margin-bottom: 16px;
	float: left;
}

aside .playlist ul li:nth-child(3n) {
	margin-right: 0;
}

aside .playlist ul li img {
	border: solid 1px #959595;
	display: block;
	width: 84px;
	max-width: 100%;
	background: #ccc;
}

#page > footer {
	clear: both;
	color: #838383;
	padding: 0 20px;
}
