body {
	background: #DFDDD7;
	font-family: Georgia, serif;
	color: #2d2d2d;
}

p {
	font-family: Verdana;
}

#page {
	width: 960px;
	margin: 2em auto; /* 32 / 16 */
}

#header, nav {
	padding: 0 10px;
}

#header {
	border-bottom: 3px double #DB008B;
	margin-bottom: 3em; /* 48 / 16 */
}

#header hgroup {
	text-align: center;
	position: relative;
	padding-bottom: 32px;
}

#header h1 {
	font-family: Georgia, serif;
	font-style:  italic;
	font-size: 4.5em; /* 72 / 16 */
	font-weight: normal;
	text-shadow: 0 1px 0 #F8F7F6;
	color: #B2B1AD;
}

#header h1 span {
	font-family: Baskerville, serif;
	font-style: italic;
	color: #DB008B;
}

#header .subtitle_wrapper {
	position: absolute;
	bottom: -12px;
	left: 0;
	width: 100%; /* 940 / 940 */
	display: block;
}

#header h2 {
	color: #DB008B;
	font-size: 1.875em; /* 30 / 16 */
	font-family: Georgia, serif;
	padding: 0 20px;
	background: #DFDDD7;
	display: inline;
	font-weight: 200;
}

nav {
	height: 2em; /* 32 / 16 */
	margin-bottom: 3em; /* 48 / 16 */
}

nav ul {
	width: 100%; /* 940 / 940 (merk padding på nav fra linje 17) */
	text-align: center;
	line-height: 1.5em; /* 36 / 24 */
	font-size: 1.5em; /* 24 / 16 */
}

nav li {
	display: inline-block;
	width: 23.9361702127%; /* 225 / 940 */
}

nav li a {
	text-decoration: none;
	padding: 6px 30px;
	background: #D3D1CC;
	color: #2C2C2C;
	border-radius: 10px;
	box-shadow: 0 1px 0 #F8F7F6;
}

nav li a:hover {
	background-color: #c4c2bc;
}

#main_content {
	width: 66.6666666666%; /* 640 / 960 */
	float: left;
}

#main_content article {
	width: 93.75%; /* 600 / 640 */
	padding: 0 20px 36px 20px;
	margin-bottom: 2.25em; /* 36 / 16 */
	border-bottom: 3px double #DB008B;
}

article a {
	color: #2d2d2d;
}

article header h1 {
	color: #da008a;
	font-family: Georgia, serif;
	font-size: 1.625em; /* 26 / 16 */
	margin-bottom: 0.615384615384em; /* 16 / 26 */
	font-weight: normal;
	font-style: italic;
}

article header {
	margin-bottom: 1em; /* 16 / 16 */
}

article p {
	line-height: 1.125em; /* 18 / 16 */
}

article figure {
	float: left;
	width: 35.5%; /* 213 / 600 */
	margin-right: 2.1666666666%; /* 13 / 600 */
	margin-bottom: 0.375em; /* 6 / 16 */
}

article figure img {
	display: block;
	width: 100%; /* 213 / 213 */
	max-width: 100%; /* NB */
	background: #333;
}

article figure figcaption {
	width: 100%; /* 213 / 213 */
	margin-top: 0.375em; /* 6 / 16 */
	color: #da008a;
}

article footer p {
	margin-top: 1.142857142857em; /* 16 / 14 */
	color: #838383;
	font-size: .875em; /* 14 / 16 */
	line-height: 1.285714285714em; /* 18 / 16 */
}

article footer a {
	color: #838383;
}

article footer time {
	clear: both;
}

aside {
	width: 30.2083333333%; /* 290 / 960 */
	padding: 0 15px;
	float: right;
}

aside h1 {
	color: #da008a;
	font-family: Georgia, serif;
	font-size: 1.625em; /* 26 / 16 */
	margin-bottom: 0.615384615384em; /* 16 / 26 */
	font-weight: normal;
	font-style: italic;
}

aside section {
	margin-bottom: 2em; /* 32 / 16 */
}

aside section h1 {
	font-size: 1.125em; /* 18 / 16 */
	font-family: Verdana;
	color: #2d2d2d;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 1.111111111111em; /* 20 / 18 */
	margin-top: 0.444444444444em; /* 8 / 18 */
}

aside section p {
	color: #838383;
}

aside ul {
	list-style: none;
}

aside {
	line-height: 1.125em; /* 18 / 16 */
}

aside .last_tweets li {
	margin-bottom: 1.25em; /* 20 / 16 */
	font-size: .6875em; /* 11 / 16 */
}

aside .last_tweets img {
	width: 10.3448275862%; /* 30 / 290 */
	max-width: 100%; /* NB */
	border: 1px solid #2d2d2d;
	background: #838383;
}

aside .last_tweets a {
	color: #DB008B;
	text-decoration: none;
	display: block;
	clear: both;
}

aside .playlist ul li {
	width: 29.6551724137%; /* 86 / 290 */
	margin-right: 5.517241379%; /* 16 / 290 */
	margin-bottom: 1em; /* 16 / 16 */
	float: left;
}

aside .playlist ul li:nth-child(3n) {
	margin-right: 0%;
}

aside .playlist ul li img {
	border: solid 1px #959595;
	display: block;
	width: 97.6744186046%; /* 84 / 86 */
	max-width: 100%; /* NB */
	background: #ccc;
}

#page > footer {
	clear: both;
	color: #838383;
	padding: 0 20px;
}